*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #000;
  height: 100vh;
}

.img {
  width: 300px;
  border-radius: 10px;
}

.text {
  color: white;
}

.controls__wrapper {
  display: flex;
  
}

.control {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: aqua;
  border-radius: 50%;
}